* {
  box-sizing: border-box;
}

body {
  background-color: yellow;
}

#navbar-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}

.nav-items {
  cursor: pointer;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

/* top border */

.nav-items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  border-top: 3px solid black;
  transition: all 1s ease-in-out;
}

.nav-items:hover::before {
  transform: translateX(-100%);
}

/* bottom border */

.nav-items::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  transform-origin: bottom right;
  border-bottom: 3px solid black;
  transition: all 1s ease-in-out;
}

.nav-items:hover::after {
  transform: translateX(100%);
}
